<div sytle="text-align:center;">
  <div><h1>Welcome to My Website</h1></div>
  <div>
    <span>nav1</span> | <span>nav2</span> | <span>nav3</span>

    {% if user.is_authenticated %}
    <a href="{% url 'accountapp:detail' user.pk %}">
      <span>Mypage</span>
    </a>
    <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
      <span>Logout</span>
    </a>
    {% else %}
    <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
      <span>Login</span>
    </a>
    <a href="{% url 'accountapp:create' %}?next={{ request.path }}">
      <span>Sign-up</span>
    </a>
    {% endif %}
  </div>
</div>
